<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 添加 NFC 使用权限 -->
    <uses-permission android:name="android.permission.NFC" />

    <!-- NFC 硬件声明，要求设备必须支持 NFC -->
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NFCTools01"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NFCTools01">

            <!-- MainActivity 的启动意图过滤器 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 添加 NFC 数据处理的 intent-filter -->
            <intent-filter>
                <!-- NFC 标签被扫描时触发 -->
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <!-- 声明支持的 MIME 类型 -->
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>

</manifest>